.cover {
  height: 100%;
  text-align: center;
  padding: 0px;
}
.content {
  padding: 0px 20px !important;
}
.content p {
  text-indent: 2em;
}

.toc {
  padding: 10px !important;
  text-indent: 2em;
}

.toc-l2 {
  margin: 4px;
}
.toc-l2 a {
  text-decoration: none;
}

.toc-t::before,
.content h2::before {
  content: ' ';
  display: inline-block;
  background: #7852e0;
  opacity: 1;
  pointer-events: none;
  border-radius: 15px;
  width: 10px;
  vertical-align: middle;
  margin-right: 15px;
  height: 2.4rem;
}
